@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import 'tailwindcss';

@theme {
  /* General Colors */
  --color-background: #F9ECE1;
  --color-primary: #CC6443;
  --color-secondary: #9A4B32;
  --color-heading: #101828;
  --color-body: #4a5565;

  /* Header / Footer Colors */
  --color-header-background: #F9ECE1;
  --color-footer-background: #f7f7f7;
  --color-header-link: #101828;
  --color-footer-link: #4a5565;

  --font-roboto: "Roboto", sans-serif;

}

body {
  font-family: Roboto, Helvetica, sans-serif;
}