@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';

@theme {
  /* General Colors */
  --color-background: #f7f7f7;
  --color-primary: #cc6443;
  --color-secondary: #9a4b32;
  --color-heading: #101828;
  --color-body: #4a5565;

  /* Header / Footer Colors */
  --color-header-background: #f9ece1;
  --color-footer-background: #f9ece1;
  --color-header-link: #101828;
  --color-footer-link: #4a5565;

  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}
